<div class="container">
  {{> hint}}
  <nav class="navbar-column" style="width:174px;">
    <h5 class="mt-4" id="user-name" value="{{user.name}}">嗨! {{user.name}}</h5>
    <h4>智能聊天室</h4>
    <input id="user-id" type="text" name="id" value="{{user._id}}" disabled hidden>
    <button class="btn" type="submit" onclick="if (confirm('確定要離開嗎?')) return window.close()">
      <h5 id="leave-chat">離開聊天室</h5>
    </button>
  </nav>

  <div id="line"></div>

  <div id="chat-container">
    <div class="mt-3 px-3 pb-2" id="msg"></div>
    <hr />
    <div class="input-row">
      <form id="typing-box">
        <input type="text" name="msg" id="typing">
        <input class="btn btn-secondary" type="submit" value="送出">
      </form>
      <p id="hint-msg" hidden>輸入欄位不得為空</p>
    </div>
  </div>

  <div id="line"></div>
</div>

{{#if user}}
<script defer>
  const socket = io('/ai-chat')

  document.addEventListener("DOMContentLoaded", () => {
    const typingBox = document.getElementById('typing-box')
    const msg = document.getElementById('msg')

    typingBox.addEventListener('submit', async(event) => {
      event.preventDefault()

      const data = {}
      const hintMsg = document.getElementById('hint-msg')
      const text = typingBox.children[0]
      const msgContent = text.value.trim()
      if (msgContent) {
        data[text.name] = msgContent
        data['role'] = 'user'
      } else {
        hintMsg.hidden = false
        return ;
      }

      sendMsg(data)
      socket.emit('private-message', data)
      text.value = ''
      hintMsg.hidden = true
    })

    socket.on('ai-response', (data) =>{
      sendMsg(data)
    })

    function sendMsg(data){
      const msgBox = document.createElement("div")
      const singleMsg = document.createElement('div')

      msgBox.className = "messages mt-3"
      msgBox.style.width = "100%"
      msgBox.style.textAlign = (data.role === "assistant") ? "start" : "end"

      singleMsg.style.backgroundColor = (data.role === "assistant") ? "white" : "#F2F2F2"
      singleMsg.style.borderRadius = "5px"
      singleMsg.innerText = data.msg.replace(/</g, "&lt;").replace(/>/g, "&gt;")

      msgBox.appendChild(singleMsg)
      msg.appendChild(msgBox)
    }
  })
</script>
{{/if}}