<div class="container">
  {{> hint}}
  <nav class="navbar-column" style="width:174px;">
    <h5 class="mt-4" id="user-name">嗨! {{user.name}}</h5>
    <h5 class="mt-5 mb-3">
      當前人數：
      <span id="counts"></span>
      人
    </h5>
    <div id="members">
      <ul id="members-list">
      </ul>
    </div>
    <form action="/signout" method="POST">
      <button class="btn" type="submit" id="logout-btn">
        <i class="fa-solid fa-right-from-bracket fa-rotate-180 fa ms-5" style="color: darkslategray;"></i>
      </button>
    </form>
  </nav>
  <div id="line"></div>

  <div id="chat-container">
    <div class="mt-3 px-3 pb-2" id="msg"></div>
    <hr />
    <div class="input-row">
      <form id="typing-box">
        <input type="text" name="account" value="{{user.account}}" disabled hidden>
        <input type="text" name="name" value="{{user.name}}" disabled hidden>
        <input type="text" name="id" value="{{user._id}}" disabled hidden>
        <input type="text" name="msg" id="typing">
        <input class="btn btn-secondary" type="submit" value="送出">
      </form>
      <p id="hint-msg" hidden>輸入欄位不得為空</p>
    </div>
  </div>
  <div id="line"></div>

  <div class="end-bar">
    <h6 class="nobodyHere">沒人在?</h6>
    <li class="buttonList">
      <a id="AI-button" type="button" href="/chat/ai" onclick="return confirm('是否開始AI暢聊?')" target="_blank">試試這個</a>
    </li>
  </div>
</div>

{{#if user}}
<script defer>
  const socket = io()

  document.addEventListener("DOMContentLoaded", () => {
    const counts = document.getElementById('counts')
    const membersList = document.getElementById('members-list')
    const typingBox = document.getElementById('typing-box')
    const msg = document.getElementById('msg')
    const account = typingBox.children[0].value
    const speaker = typingBox.children[1]
    const id = typingBox.children[2].value


    socket.on('online', () => {
      if (account) socket.emit('userOn', account)
    })

    socket.on('showUsers', userList => {
      let usersListHtml = ''
      const onlineCounts = userList.length
      for (let i = 0; i < userList.length; i++) {
        if (id === userList[i].id) {
          usersListHtml +=
            `
              <li class="mt-3">
                <a class="users-name" type="button" disabled>${userList[i].name} </a>
              </li>
            `
        } else {
          usersListHtml +=
            `
                <li class="mt-3">
                  <a class="users-name" type="button" href="/chat/${id}/${userList[i].id}" onclick="return confirm('確定要與該使用者交談嗎')" target="_blank">${userList[i].name} </a>
                </li>
              `
        }
      }
      membersList.innerHTML = usersListHtml
      counts.innerText = onlineCounts
    })

    typingBox.addEventListener('submit', async(event) => {
      event.preventDefault()

      const data = {}
      const hintMsg = document.getElementById('hint-msg')
      const text = typingBox.children[3]
      if (text.value !== "" && text.value.trim() !== "") {
        data[speaker.name] = speaker.value
        data[text.name] = text.value
      } else {
        hintMsg.hidden = false
      }

      if (data.msg !== undefined) {
        socket.emit('send', data)
        hintMsg.hidden = true
      }
      text.value = ''
    })


    socket.on('msg',data=>{
      const msgBox = document.createElement("div")
      const singleMsg = document.createElement('div')

      if (data.name === speaker.value) {
        msgBox.className = "messages mt-3"
        msgBox.style = "text-align:end;width:100%"
        singleMsg.innerText = `${data.msg}`
      } else {
        msgBox.className = "messages mt-3"
        msgBox.style = "width:100%"
        singleMsg.innerText = `${data.name}： ${data.msg}`
      }

      msgBox.appendChild(singleMsg)
      msg.appendChild(msgBox)
    })
      
})
</script>
{{/if}}